@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Oswald:wght@200..700&display=swap');
*{
    font-family: "Freeman", sans-serif;
}
body{
    padding: 0;
}
div.File-container{
    width: 50%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}
div.upload-box{
    display: flex;
    width: 100%;
    height: 350px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border: solid 3px #5C54AC;
    border-radius: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

span#upload-text{
    color: #CCCCCC;
    font-weight: bolder;
}
input#upload-input{
    width: 209px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #5C54AC;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
div.Form-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
textarea#Description{
    width: 100%;
    height: 75px;
    border: solid 2px #5C54AC;
    border-radius: 14px;
    padding: 5px 1px 5px 1px;
}
input#School{
    width: 100%;
    height: 30px;
    border: solid 2px #5C54AC;
    border-radius: 14px;
}
input#filliere{
    border: solid 2px #5C54AC;
    border-radius: 10px;
    height: 30px;
}
input#year{
    border: solid 2px #5C54AC;
    border-radius: 10px;
    height: 30px;
}
select{
    border: solid 2px #5C54AC;
    border-radius: 10px;
    height: 30px;
}
div.Details-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
div.Document-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
button#submit-btn{
    width: 100%;
    height: 30px;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 10px ;
    background-color: #5C54AC;
}
div.conditions-Sec{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
}
div.positive-sec{
    width: 450px;
    height: fit-content;
    border-radius: 14px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
div.negative-sec{
    width: 450px;
    height: inherit;
    border-radius: 14px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}