@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
html{
  font-family: 'Candal', sans-serif;
}
body{
  padding: 20px;
  margin: 0;
  background-image: url("BackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}