@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
*{
    font-family: 'Candal', sans-serif;
}
button{
    height: 30px;
    border: solid 3px #5C54AC;
    border-radius: 10px;
    background-color: transparent;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: #5C54AC;
    border: solid 3px #5C54AC;
    border-radius: 10px;
}
